<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>meka Page</title>
</head>
<body>
  <h1>crop List</h1>
  <a href="/sql/sensor/insert">새로운 기기 상태 업데이트(사실 추가)</a>
  <hr/>
  <table border="1">
    <tr>
      <th>temperature</th>
      <th>humi</th>
      <th>co2</th>
      <th>waterLevel</th>
    </tr>
    <% data.forEach(function (item, index) { %>
    <tr>
      <td><%= item.temperature %></td>
      <td><%= item.humi %></td>
      <td><%= item.co2 %></td>
      <td><%= item.waterLevel %></td>
    </tr>
    <% }); %>
  </table>
</body>
</html>